.item_wrapper {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 1px 1px 2px 1px #888888;
  justify-content: space-between;
  gap: 1em;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    svg {
      cursor: pointer;
    }
    gap: 0.25em;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 0.15em;
  }
  .suggestion {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap: 0.25em;
    .subtitle {
      font-weight: 500;
    }
  }
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  .stat_item {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    .label {
      font-size: 1.1em;
      font-weight: 500;
    }
    .icon {
      height: auto;
      width: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .item_wrapper {
    flex-direction: column;
  }
}
