@use "../../variables.scss";

.counter_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  .counter {
    font-size: 1.25em;
  }
}

.materials_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.1em;
}

.center_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.text {
  font-size: 1.1em;
  word-break: break-all;
}

.menu_item_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.recycle_hover {
  transition: color 0.2s ease;
  &:hover {
    color: variables.$primary-background-color;
    transition: color 0.2s ease;
  }
}

.edit_hover {
  transition: color 0.2s ease;
  &:hover {
    color: #006ab1;
    transition: color 0.2s ease;
  }
}

.delete_hover {
  transition: color 0.2s ease;
  &:hover {
    color: #b10000;
    transition: color 0.2s ease;
  }
}
