@use "../variables.scss";

.highlight {
  color: variables.$primary-background-color;
  font-weight: bold;
}

.hero_wrapper {
  position: relative;
  height: 700px;
  margin-bottom: 4em;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 58%;
  gap: 1.5em;
  height: 100%;
  .title {
    display: flex;
    flex-direction: column;
    font-size: 4em;
    font-weight: 900;
  }
  .description {
    font-size: 1.5em;
    text-align: justify;
  }
}

.hero_image {
  position: absolute;
  width: auto;
  height: 100%;
  z-index: -1;
  right: 0;
}

.company_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  background-color: variables.$primary-color-soft;
  padding: 1em 3em;
  border-radius: 4px;
  margin-bottom: 4em;
  .company_logo {
    max-height: 150px;
    width: 100%;
    cursor: pointer;
  }
}

.feature_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.feature_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;
  row-gap: 3em;
}
