@use "../variables.scss";

.hero_wrapper {
  display: flex;
}

.lifecycle_image {
  height: 300px;
  width: 500px;
}

.step_header {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-bottom: 2em;
  .title {
    font-size: 2em;
  }
}

.step_container {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #888888;
}
