@use "../variables.scss";

.hero_wrapper {
  display: flex;
}

.clothing_lifecycle_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  span {
    font-size: 1.25em;
  }
}

.clothing_lifecycle {
  height: 400px;
  width: auto;
}

.step_header {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  margin-top: 24px;
  margin-bottom: 24px;
  .title {
    font-size: 2em;
  }
}

.step_container {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 6px 2px #888888;
}
