@use "../custom.scss";
@use "../variables.scss";

.material_search_wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25em;
}

.material_title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.results_wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
}

.selected-chip {
  background: red;
}

.links {
  margin-top: 0.5em;
  ul {
    margin-top: 0.3em;
  }
}

.link_title {
  font-size: 1.1em;
  font-weight: 500;
}

.link_text {
  font-size: 1.1em;
  a {
    text-decoration: none;
  }
}

.link_color {
  cursor: pointer;
  color: variables.$primary-background-color;
  &:hover {
    color: variables.$primary-background-color-soft;
  }
}
