.title {
  font-size: 2em;
}

.description {
  font-size: 1.25em;
}

.trend_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.chart_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
