.text {
  font-size: 1.1em;
  word-break: break-all;
}

.option_title {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.count_text {
  font-size: 1.25em;
}
