@use "../../custom.scss";

.notfound_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  gap: 1em;
  .title {
    font-size: 1.5em;
    font-weight: 500;
  }
  .image {
    width: auto;
    height: 256px;
  }
}
