.section_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // margin-top: 5vh;
}

.sub_section_div1{
    margin-right: 5vh;
}

.sub_section_div2{
    margin-left: 5vh;
}

.sub_section_div3{
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sub_section_div4{
    margin-left: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section_text{
    justify-content: left;
}

.button_group{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.downarrow {
    position: relative;
    bottom: -20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
    z-index: 2;
    color: darkgreen;
    cursor: pointer;
}

.arrow_div {
    position: relative;
}

.litres_text{
  font-size: 150%;
}

.year_text{
  font-size: 200%;
}

.back_button2{
  width: 77%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
}

.local_drink_container{
  display: flex;
  flex-direction: row;
}

.local_drink_icon_group{
  height: 150px;
  width: 300px;
  display: flex;
  flex-direction: row;
}

.local_drink_icon{
  color: green;
  font-size: 80px;
}

.section_3_hidden{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fact_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fact_card_single{
  transform: scale(0.9);
}

.fact_group_3{
  display: flex;
  flex-direction: row;
  width: 65%;
}

.fact_card_single2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.fact_group_3_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 5vh;
}

.material_checker_text {
  color: green;
}

.section_4_hidden_container {
  display: flex;
}

.section_4_hidden_1 {
  display: flex;
  flex-direction: column;
  margin-right: 5vh;
}

.section_5_hidden_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
}

.section_5_hidden_text {
  width: 150px;
  margin-right: 15vh;
}

.fact_card_single3 {
  transform: scale(0.8);
}

.fact_card_group_5 {
  transform: scale(0.8);
}

.section_6_container {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.section_6_icon_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_6_icon {
  display: "flex";
  justify-content: "center";
  align-items: "center";
  svg {
    height: 200px;
    max-height: 250px;
    min-height: 50px;
  }
}

.section_6_icon_2{
  display: "flex";
  justify-content: "center";
  align-items: "center";
  svg {
    height: 200px;
    max-height: 250px;
    min-height: 50px;
  }
}

.filler_text_section_2 {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.section_2_lower {
  // height: 370px;
  display: flex;
  flex-direction: row;
}

.filler_text_section_3 {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.filler_text_section_4 {
  width: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.section_4_lower {
  align-items: left;
  width: 50%;
}

.section_4_lower_hidden{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10vh;
  width: 450px;
}

.section_4_lower_chart{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 450px;
}

.filler_text_section_5 {
  width: 50%;
  align-items: center;
  justify-content: center;
  // margin-bottom: 3vh;
}

.filler_text_section_6 {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.icon_container_inner {
  height: auto;
  width: auto;
}

.waste_number_container {
  display: flex;
  flex-direction: row;
}

.wearScaleChart {
  padding-left: 200px;
}

.h1 {
  font-size: 18px;
}

.h2 {
  font-size: 17px;
}

.p {
  font-size: 14px;
}

.p2 {
  font-size: 12px;
}

.h3 {
  font-size: 16px;
}

@media only screen and (max-width: 1300px){
  .filler_text_section_4{
    width: 80%;
    margin-bottom: -10px;
  }
  .filler_text_section_5{
    width: 80%;
  }
  .section_div{
    margin-bottom: -50px;
  }
  .section_5_hidden_container{
    margin-bottom: -50px;
  }
  .fact_group_3{
    .fact_group_3_container{
      .fact_group_3_text{
        .p2{
          margin-left: -50px;
        }
      }
    }
  }
  .filler_text_section_6{
    width: 80%;
  }
  .fact_card_group_5 {
    transform: scale(0.8);
    margin-top: -20px;
    margin-bottom: -20px;
  }
  .section_6_container{
    transform: scale(0.9);
  }
  .section_6_icon_container{
    transform: scale(0.9);
  }
  .section_6_container_lower{
    transform: scale(0.9);
  }
}

@media only screen and (max-width: 1053px) {
  .back_button2 {
    position: static;
    align-items: center;
    justify-content: center;
  }
  .filler_text_section_2 {
    width: 100%;
  }
  .filler_text_section_3{
    width: 100%;
  }
  .filler_text_section_4{
    width: 100%;
  }
  .filler_text_section_5{
    width: 100%;
  }
  .filler_text_section_6{
    width: 100%;
  }
  .fact_group_3{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: -50px;
  }
  .fact_card_group_5 {
    transform: scale(0.7);
    margin-top: -30px;
    margin-bottom: -30px;
  }
  .section_6_container{
    margin-bottom: -50px;
    transform: scale(0.8);
    width: 100%;
  }
  .section_6_icon_container{
    // transform: scale(0.8);
  }
  .section_6_container_lower{
    transform: scale(0.8);
    margin-bottom: -50px;
  }
}

@media only screen and (max-width: 950px) {
  .h1{
    font-size: 14px;
  }
  .p {
    font-size: 10px;
  }
  .h3 {
    font-size: 12px;
  }
  .fact_card{
    transform: scale(0.8);
  }
  .fact_card_single{
    transform: scale(0.8);
  }
  .wearScaleChart {
    transform: scale(0.8);
    padding-left: 150px;
  }
  .sustainableScaleChart {
    transform: scale(0.8);
  }
  .fact_card_single3 {
    transform: scale(0.8);
    margin-left: -50px;
  }
  .sub_section_div3{
    .textfield{
      transform: scale(0.7);
    }
    .confirm{
      height: 25px;
      width: 55px;
      font-size: 8px;
      margin-right: 6em;
    }
  }
  .button_group {
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 900px) {
  .fact_group_3 {
    display: flex;
    flex-direction: column;
    .fact_group_3_container {
      display: flex;
      flex-direction: row;
      .fact_card_single2{
        transform: scale(0.7);
        margin-top: -25px;
      }
      .fact_group_3_text{
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    .section_4_lower_hidden {
      margin-top: -20px;
      padding-left: 150px;
      align-items: center;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 850px) {
  .fact_card{
    transform: scale(0.6);
  }
  .wearScaleChart {
    transform: scale(0.6);
    padding-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .fact_group_3 {
    display: flex;
    flex-direction: column;
    .fact_group_3_container {
      display: flex;
      flex-direction: row;
      .fact_card_single2{
        transform: scale(0.7);
        margin-top: -25px;
      }
      .fact_group_3_text{
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    .section_4_lower_hidden {
      margin-top: -20px;
      padding-left: 20px;
      align-items: center;
      justify-content: center;
    }
  }
  .section_5_hidden_container{
    .fact_card_single3 {
      margin-left: -280px;
      margin-bottom: -600px;
    }
  }
}

@media only screen and (max-width : 700px) {
  .h1{
    font-size: 16px;
  }
  .p {
    font-size: 12px;
  }
  .h3 {
    font-size: 14px;
  }
  .fact_group_3 {
    display: flex;
    flex-direction: column;
    margin: -10px;
    .fact_group_3_container {
      display: flex;
      flex-direction: row;
      margin-bottom: -20px;
      .fact_card_single2{
        transform: scale(0.7);
        margin-top: -25px;
      }
      .fact_group_3_text{
        align-items: flex-start;
        justify-content: flex-start;
      }
    }
    .section_4_lower_hidden {
      margin-top: -30px;
      margin-left: -5px;
      margin-bottom: -20px;
      align-items: center;
      justify-content: center;
      transform: scale(0.7);
    }
  }
  .section_4_title{
    margin-bottom: 10px;
    .h1 {
      margin-bottom: 10px;
      // margin-bottom: 50px;
    }
  }
  .filler_text_section_6 {
    width: 100%;
  }
  .fact_card_group_5 {
    transform: scale(0.6);
    margin-top: -50px;
    margin-bottom: -50px;
  }
}

@media only screen and (max-width : 660px) {
  .h1{
    font-size: 12px;
  }
  .p {
    font-size: 8px;
  }
  .h3 {
    font-size: 10px;
  }
  .section_2_lower {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: -50px;
    .fact_card {
      margin: -50px;
    }
  }
  .lock_it_in {
    transform: scale(0.6);
  }
  .section_4_lower{
    transform: scale(0.7);
  }
  .sub_section_div2{
    transform: scale(0.6);
  }
  .fact_group_3 {
    .fact_group_3_container {
      .fact_group_3_text{
        width: 80%;
        align-items: flex-start;
        justify-content: flex-start;
        .p2{
          font-size: 8px;
        }
      }
    }
  }
  .section_5_hidden_container{
    .sustainableScaleChart{
      transform: scale(0.6);
    }
    .section_5_hidden_text{
      margin-top: 30px;
    }
    .fact_card_single3 {
      transform: scale(0.5);
      margin-top: -150px;
    }
  }
  .button_group {
    transform: scale(0.7);
  }
  .fact_card_group_5 {
    transform: scale(0.6);
  }
  .lets_see {
    transform: scale(0.7);
    margin-left: -15px;
  }
}

@media only screen and (max-width : 600px) {
  .section_3_hidden{
    display: flex;
    flex-direction: column-reverse;
    margin: -50px;
    .local_drink_icon_group{
      transform: scale(0.6);
      margin-bottom: -20px;
    }
    .fact_card_single {
      // margin: -20px;
      transform: scale(0.6);
      margin-bottom: -20px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .fact_group_3 {
    .section_4_lower_hidden {
      margin-left: -50px;
    }
  }
  .section_5_hidden_container{
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .sustainableScaleChart{
      margin-top: -200px;
    }
    .section_5_hidden_text{
      margin-right: -150px;
    }
    .fact_card_single3 {
      margin-right: -150px;
    }
  }
}

@media only screen and (max-width: 530px) {
  .fact_group_3 {
    .fact_group_3_container {
      .fact_card_single2{
        // margin-left: -30px;
        transform: scale(0.6);
      }
    }
    .section_4_lower_hidden{
      margin-left: -50px;
      margin-top: -50px;
      .section_4_lower_chart{
        transform: scale(0.8);
        width: 100%;
        align-items: center;
        justify-content: center;
        // margin-bottom: -30px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .section_div{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    .p{
      margin-top: 5vh;
      align-items: center;
      justify-content: center;
    }
  }
  .sub_section_div2{
    margin: -50px;
  }
  .sub_section_div1{
    transform: scale(0.6);
  }
  .section_3_hidden{
    display: flex;
    flex-direction: column-reverse;
    margin: -50px;
    .local_drink_icon_group{
      transform: scale(0.5);
      margin-top: -30px;
      // margin-bottom: -50px;
    }
    .fact_card_single {
      transform: scale(0.5);
      margin-bottom: -30px;
      // margin-top: -20px;
    }
  }
  .fact_group_3 {
    .fact_group_3_container {
      .fact_card_single2{
        margin-left: -30px;
        transform: scale(0.5);
        margin-top: -40px;
      }
    }
    .section_4_lower_hidden{
      margin-left: -50px;
    }
  }
  .section_4_title{
    display: flex;
    flex-direction: column;
    .h1 {
      padding-left: 20px;
      // margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .section_3_hidden{
    margin: -50px;
    .fact_card_single {
      transform: scale(0.5);
    }
    .local_drink_container {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: -20px;
    }
  }
  .fact_group_3 {
    .fact_group_3_container{
      margin-bottom: -50px;
      .fact_card_single2{
        transform: scale(0.45);
        margin-left: -50px;
      }
      .fact_group_3_text{
        font-size: 5px;
      }
    }
    .section_4_lower_hidden{
      margin-left: -80px;
      .section_4_lower_chart{
        align-items: center;
        justify-content: center;
        transform: scale(0.7);
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .fact_group_3 {
    .fact_group_3_container{
      .fact_card_single2{
        // transform: scale(0.6);
        margin-left: -50px;
      }
      .fact_group_3_text{
        font-size: 5px;
      }
    }
    .section_4_lower_hidden{
      margin-left: -100px;
      .section_4_lower_chart{
        transform: scale(0.6);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: -30px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .section1 {
    .h1{
      font-size: 16px;
    }
    .p{
      font-size: 12px;
    }
  }
  .section_div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: -50px;
    margin-top: 10px;
    .sub_section_div1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: -60px;
      transform: scale(0.6);
    }
    .sub_section_div2{
      margin: -10px;
    }
    .sub_section_div4 {
      transform: scale(0.8);
      align-items: center;
      justify-content: center;
      margin-left: -20px;
      margin-bottom: 40px;
      margin-top: -20px;
    }
  }
  .sub_section_div3{
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    margin-bottom: 20px;
    .textfield{
      padding-top: 5vh;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .confirm{
      height: 25px;
      width: 5px;
      font-size: 6px;
      margin-bottom: 5em;
      margin-right: 15em;
    }
  }
  .section_4_lower {
    .textfield{
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .confirm{
      height: 25px;
      width: 5px;
      font-size: 6px;
    }
  }
  .section_3_hidden{
    margin: -50px;
    .fact_card_single {
      margin-bottom: -50px;
      transform: scale(0.4);
    }
    .local_drink_container {
      margin: -10px;
      .local_drink_icon_group{
        margin: -30px;
        font-size: 50px;
      }
    }
  }
  .fact_group_3 {
    .fact_group_3_container{
      display: flex;
      flex-direction: column;
      margin-right: -50px;
      .fact_card_single2{
        transform: scale(0.5);
        margin-bottom: -50px;
      }
      .fact_group_3_text{
        font-size: 5px;
      }
    }
    .section_4_lower_hidden{
      display: flex;
      flex-direction: column;
      margin-left: -100px;
      margin-bottom: -50px;
      .italic_text {
        display: flex;
        flex-direction: row;
        margin-left: -100px;
        width: 50%;
      }
      .section_4_lower_chart{
        transform: scale(0.6);
        margin-top: 50px;
        margin-left: -100px;
        align-items: center;
        justify-content: center;
        margin-bottom: -20px;
      }
    }
  }
  .button_group {
    transform: scale(0.6);
  }
  .fact_card_group_5 {
    transform: scale(0.5);
    margin-top: -50px;
    margin-bottom: -50px;
  }
  .section_5_hidden_container{
    margin-top: -20px;
    .fact_card_single3{
      transform: scale(0.4);
    }
  }
  .section_6_container{
    display: column;
    transform: scale(0.7);
    margin-top: -50px;
    margin-bottom: -100px;
  }
  .section_6_icon_container{
    transform: scale(0.7);
  }
  .section_6_container_lower{
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 350px) {
  .fact_group_3{
    .section_4_lower_hidden {
      margin-bottom: -50px;
      .italic_text {
        display: flex;
        flex-direction: row;
        margin-left: -100px;
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 340px) {
  .section1 {
    .h1{
      font-size: 14px;
    }
    .p{
      font-size: 10px;
    }
  }
  .section_3_hidden{
    margin-bottom: -50px;
    margin-top: -50px;
    .fact_card_single {
      transform: scale(0.4);
      margin-bottom: -50px;
    }
    .local_drink_container {
      // margin-top: -20px;
      .local_drink_icon_group{
        margin-bottom: -30px;
        margin-top: -30px;
        font-size: 50px;
      }
    }
  }
}

@media only screen and (max-width: 330px) {
  .section1 {
    .h1{
      font-size: 12px;
    }
    .p{
      font-size: 8px;
    }
  }
  .section_3_hidden{
    margin-top: -50px;
    .fact_card_single{
      margin-top: -30px;
      transform: scale(0.4);
    }
    .local_drink_container {
      .local_drink_icon_group{
        margin-bottom: -30px;
        font-size: 50px;
      }
    }
  }
  .fact_group_3 {
    margin-bottom: -50px;
    .fact_group_3_container{
      display: flex;
      flex-direction: column;
      margin-left: -50px;
      .fact_card_single2{
        transform: scale(0.5);
        margin-top: -30px;
        margin-bottom: -30px;
        margin-right: -50px;
      }
      .fact_group_3_text{
        .p2 {
          font-size: 8px;
          margin-left: 20px;
        }
      }
    }
    .section_4_lower_hidden{
      display: flex;
      flex-direction: column;
      .italic_text {
        display: flex;
        flex-direction: column;
        width: 50%;
        .italic_word {
          .i_word{
            size: 5px;
          }
        }
      }
      .section_4_lower_chart{
        margin-right: 50px;
        transform: scale(0.6);
        align-items: center;
        justify-content: center;
        margin-bottom: -30px;
      }
    }
  }
}


