@use "../variables.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  height: 50px;
  span {
    font-size: 1.1em;
  }
}

.highlight {
  color: variables.$primary-background-color;
  font-weight: 700;
}
