@use "../mixins.scss";

.layout_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  padding-top: 70px;
}

.container_wrapper {
  width: 100%;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
