@use "../mixins.scss";

.layout_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 70px;
}

.container_wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
