@use "../variables.scss";
@use "../mixins.scss";

.navbar_wrapper {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  transition: background-color 100ms ease;
}

.navbar_sticky {
  transition: background-color 100ms ease;
  background-color: #174631;
  .logo_group .name,
  .link_group .link {
    transition: color 500ms ease;
    [data-theme="light"] & {
      color: variables.$dark-primary-color;
    }
  }
  .theme_button {
    [data-theme="light"] & {
      color: variables.$primary-color;
      background-color: variables.$dark-primary-color;
      &:hover {
        background-color: variables.$dark-primary-color-lighten;
      }
    }
  }
}

.logo_group .name,
.link_group .link {
  transition: color 500ms ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar_wrapper,
.main,
.logo_group,
.link_group,
.action_group {
  @include mixins.flex-center;
}

.main {
  justify-content: flex-start;
  width: 100%;
  gap: 2em;
}

.logo_group {
  gap: 0.5em;
  cursor: pointer;
  .logo {
    height: 32px;
    width: auto;
  }
  .name {
    font-size: 2em;
    font-weight: 900;
    color: variables.$primary-color;
    [data-theme="dark"] & {
      color: variables.$dark-primary-color;
    }
  }
}

.link_group {
  gap: 0.5em;
  .link {
    color: variables.$primary-color;
    [data-theme="dark"] & {
      color: variables.$dark-primary-color;
    }
    .selected {
      background-color: variables.$primary-background-color;
    }
  }
}

.action_group {
  gap: 0.5em;
}

.theme_button {
  color: variables.$dark-primary-color;
  background-color: variables.$primary-color;
  &:hover {
    background-color: variables.$primary-color-lighten;
  }
  [data-theme="dark"] & {
    color: variables.$primary-color;
    background-color: variables.$dark-primary-color;
    &:hover {
      background-color: variables.$dark-primary-color-lighten;
    }
  }
}
