@use "../variables.scss";
@use "../mixins.scss";

.navbar_wrapper {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  transition: background-color 150ms ease, box-shadow 50ms ease;
  z-index: 9999;
}

.navbar_sticky {
  transition: background-color 150ms ease, box-shadow 100ms ease 50ms;
  background-color: #012c19;
  box-shadow: 0 2px 4px #000;
  .logo_group .name,
  .link_group .link {
    transition: color 500ms ease;
    color: variables.$dark-primary-color;
    &:hover {
      background-color: variables.$primary-color-lighten;
      &.selected {
        background-color: variables.$primary-background-color-soft;
      }
    }
    &.selected {
      color: variables.$primary-color;
    }
  }
}

.logo_group .name,
.link_group .link {
  transition: color 500ms ease;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navbar_wrapper,
.main,
.logo_group,
.link_group,
.action_group {
  @include mixins.flex-center;
}

.main {
  justify-content: flex-start;
  width: 100%;
  gap: 2em;
}

.logo_group {
  gap: 0.5em;
  cursor: pointer;
  .logo {
    height: 32px;
    width: auto;
  }
  .name {
    font-size: 2em;
    font-weight: 900;
    color: variables.$primary-color;
  }
}

.link_group {
  gap: 0.5em;
  .link {
    color: variables.$primary-color;
    &.selected {
      color: variables.$primary-color;
      background-color: variables.$primary-background-color;
    }
    &:hover {
      background-color: variables.$primary-color-soft;
      &.selected {
        background-color: variables.$primary-background-color-soft;
      }
    }
  }
}

.action_group {
  gap: 0.5em;
}

.theme_button {
  color: variables.$dark-primary-color !important;
  background-color: variables.$primary-color !important;
  height: 28px;
  width: 28px;
  &:hover {
    background-color: variables.$primary-color-lighten !important;
  }
}
