/* Top scroll icon */
.top_btn_position {
  box-sizing: border-box;
  position: fixed;
  bottom: 2em;
  right: 2em;
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #0ac05e;
  color: black;
  cursor: pointer;
  padding: 0.5em;
}
