@use "../../variables.scss";

.fact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 1px 1px 2px 1px #888888;
  padding: 0.75em;
  gap: 1em;
  border-radius: 4px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1em;
  .title {
    font-size: 2em;
    font-weight: bold;
  }
}

.text {
  font-size: 1.25em;
  text-align: center;
}
