@use "./variables.scss";

.button {
  background-color: variables.$primary-background-color !important;
  color: variables.$primary-color !important;
  &:hover {
    background-color: variables.$primary-background-color-soft !important;
  }
}

.buttonTransparent {
  color: variables.$primary-background-color !important;
}
