$primary-color: #141414;
$primary-color-lighten: #606060;
$primary-color-soft: #ededed;
$dark-primary-color: #f5f5f5;
$dark-primary-color-lighten: #afafaf;
$primary-background-color: #0ac05e;
$primary-background-color-soft: #20a05b;
